@page
@model PhanLaiAnhTuan_Lab03.Areas.Identity.Pages.Account.Manage.VerifyPasswordOtpModel
@{
    ViewData["Title"] = "Xác nhận OTP";
}

<h2>@ViewData["Title"]</h2>

<p>Vui lòng nhập mã OTP đã được gửi đến email của bạn để xác nhận đổi mật khẩu.</p>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.OTP" class="form-label"></label>
        <input asp-for="Input.OTP" class="form-control" />
        <span asp-validation-for="Input.OTP" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-2">Xác nhận</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
