@model IEnumerable<PhanLaiAnhTuan_Lab03.Models.Category>

@{
    ViewData["Title"] = "Danh sách loài";
}

<h2 class="mt-4">Danh sách loài</h2>


<a asp-controller="Product" asp-action="Index" class="btn btn-secondary mb-3">Quay lại danh sách loài</a>

<a asp-action="Create" class="btn btn-primary mb-3">Thêm loài</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Tên loài</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
